.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.list-item .user-info {
  display: flex;
  align-items: center;
}

.list-item .user-info span:last-of-type {
  margin-left: 10px;
  color: grey;
  font-size: 12px;
}

